* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    font-weight: 700;

}

.container {
   width: 75%; 
   max-width: 1000px;
   margin-right: auto;
   margin-left: auto;
   text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 20px 30px;
    background-color:rgb(186, 184, 182);
    border: 5px solid black;
}

.header h1 {
    font-size: 24px;
}

.nav {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24;
  font-size: 48px;
}

form {
    display: flex;
    gap: 10px;
}

.input {
    width: 400px;
    height: 40px;
    padding: 3px;
    border: 4px solid black;
    color: black;
    font-size: 24px;
    border-radius: 5px;
}



.btn-search {
    width: 90px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 4px solid black;
}

.search {
  font-size: 24px;
}

.main {
    padding: 50px 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 24px;
    border-left: 4px solid black;
    border-right: 4px solid black

}

.main button {
    margin-bottom: 40px;
    padding: 5px 10px;
    border: 4px solid black;
    font-size: 24px;
    box-shadow: 5px 3px black;
}

hr {
    width: 80%;
    height: 5px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}

.footer {
    display: flex;
    align-items: end;
    justify-content: end;
   height: 40px;
   background-color: rgb(186, 184, 182);
   border: 4px solid black;
   font-size: 24px; 
   font-weight:bold
}

.p-color {
    color: red;
}

.div-color {
    color: green;
}